streamlit>=1.0
plotly>=5.0.0
pandas>=1.0
numpy>=1.0
cianparser==1.0.0
geopy==2.3.0
requests==2.28.2
beautifulsoup4==4.11.2
html5lib==1.1
pulp>=2.7.0
ortools>=9.6.0
geopandas>=0.12.0
folium>=0.14.0
ezdxf>=1.1.0
matplotlib>=3.7.0
shapely>=2.0.1
streamlit-folium>=0.11.0
